body {
    margin: 0;
    padding: 0;
    background: #ececec;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gloria Hallelujah', cursive;
}

.contenedor {
    position: relative;
    width: 900px;
    height: 700px;
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.mensaje {
    position: absolute;
    font-size: 30px;
    color: #ff4f87;
    opacity: 0;
    transform: scale(0.5) rotate(-5deg);
    animation: aparecer 2s forwards;

    text-shadow:
        2px 2px 0px #ffffff,
        -1px -1px 0px #ffffff;
}

.m1 {
    top: 40px;
    left: 70px;
    animation-delay: 3s;
}

.m2 {
    top: 120px;
    right: 60px;
    animation-delay: 5s;
}

.m3 {
    bottom: 130px;
    left: 40px;
    animation-delay: 7s;
}

.m4 {
    bottom: 50px;
    right: 20px;
    animation-delay: 9s;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: scale(0.2) rotate(-10deg);
    }

    60% {
        opacity: 1;
        transform: scale(1.15) rotate(5deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}
#boton-musica {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    background: #ff8fb1;
    color: white;

    padding: 15px 25px;

    border-radius: 20px;

    font-size: 24px;

    cursor: pointer;

    z-index: 1000;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);

    animation: brincar 1s infinite;

    user-select: none;
}

@keyframes brincar {

    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.08);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}